.container {
    width: 250px;
    height: 350px;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    padding: 30px;
}

.image {
    box-sizing: border-box;
    width: 250px;
    height: 175px;
    border-radius: 10px;
}
.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.attributes {
    /* float: left; */
    display: flex;
    flex-direction: column;
    left: 0;
    width: fit-content;
    line-height: 40px;
    position: relative;
    top: 10px;
}
.price {
    font-family: "Lato", sans-serif;
    /* float: right; */
    font-size: 25px;
    color: rgb(76, 40, 233);
    position: relative;
    height: fit-content;
    top: 45px;
    right: 0;
}

.button {
    width: 100px !important;
    color: white !important;
    background: rgb(28, 194, 16) !important;
    box-shadow: 3px 4px 4px rgba(138, 138, 138, 0.25) !important;
    border-radius: 5px !important;
    position: relative !important;
    left: 80px !important;
    top: 15px !important;
}
