.container {
    display: flex;
    flex-direction: row;
}

.details {
    font-family: "Lato", sans-serif;
    font-size: 28px;
    line-height: 100px;
    position: absolute;
    right: 350px;
    top: 25%;
}
.bookedCar {
    position: absolute;
    left: 150px;
    top: 15%;
    text-align: center;
}
.heading {
    font-family: "Lato", sans-serif;
    font-size: 48px;
    margin-bottom: 50px;
}

.vl {
    width: 1px;
    background-color: rgb(185, 185, 185);
    position: absolute;
    left: 45%;
    height: 600px;
    top: 10%;
}

.box {
    width: fit-content;
    padding: 10px;
    height: fit-content;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    border: 0.5px solid rgb(126, 126, 126);
    margin-left: 30px;
}
.button {
    margin: 20px !important;
    width: 150px !important;
    color: white !important;
    background: rgb(28, 194, 16) !important;
    box-shadow: 3px 4px 4px rgba(138, 138, 138, 0.25) !important;
    border-radius: 5px !important;
}
.promoCode {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
}
