.container {
    width: 25%;
    overflow: hidden;
    height: 768px;
    background: rgb(255, 255, 255);
    /* border: 1px solid black; */
    box-shadow: 5px 0px 10px rgba(213, 213, 213, 0.25);
    position: fixed;
    z-index: 10;
}
.heading {
    font-size: 24px;
    box-shadow: 0px 5px 10px rgba(218, 218, 218, 0.25);
    width: 100%;
    height: 80px;
    font-family: "Lato", Helvetica, sans-serif;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.options {
    margin-left: 50px;
    line-height: 75px;
    margin-top: 50px;
    width: 300px;
}

.checkboxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
